.dashboard {
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 127, 80, 0.5), rgba(221, 15, 145, 0.321), rgba(32, 173, 220, 0.42), rgba(255, 105, 180, 0.5));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dashboard h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                 0 0 15px rgba(255, 255, 255, 0.4);
}

.dashboard p {
    font-size: 1.2rem;
    color: #17bfdd;
    margin-bottom: 30px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: transparent;
    border: none;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                 0 0 15px rgba(255, 255, 255, 0.4);
}

.card p {
    font-size: 1rem;
    color: #777;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}

input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 10px);
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #17bfdd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #15a9cc;
}

/* Added styles for the iframe to make the video larger */
.video {
    width: 100%; /* Full width of the card */
    height: 400px; /* Increased height for larger video */
    border-radius: 12px; /* Optional: add border radius for styling */
}


